:root .theme_light {
  --main-font-family: "IBM Plex mono", monospace;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --title-decor-color: #353430;
  --text-color: #353430;
  --text-shadow: 4px 4px 0 var(--accent-color);
  --padding-wrap: 0.625rem;
  --main-subtitle-size: clamp(22.1875rem, 19.1945rem + 12.77vw, 30.6875rem);
  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --page-blocks-gap: 2.5rem;
  --section-gap: 3.125rem;
}

@media (prefers-color-scheme: light) {

  :root {
    --main-font-family: "IBM Plex mono", monospace;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --title-decor-color: #353430;
    --text-color: #353430;
    --text-shadow: 4px 4px 0 var(--accent-color);
    --padding-wrap: 0.625rem;
    --main-subtitle-size: clamp(22.1875rem, 19.1945rem + 12.77vw, 30.6875rem);
    --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --page-blocks-gap: 2.5rem;
    --section-gap: 3.125rem;
  }

  .page {
    background-image: var(--bg-image);
  }

  .theme_auto .decoration-element {
    display: none;
  }
  
  .theme_auto .accent-text {
    color: var(--text-color);
  }

  .theme_auto .header__theme-menu-button {
    color: var(--text-color);
  }

  .theme_auto .decorated-zone::before,
  .theme_auto .decorated-zone::after,
  .theme_auto .header__theme-menu-button:hover,
  .theme_auto .header__theme-menu-button_active {
    border-color: var(--text-color);
  }

  .theme_auto .header__theme-menu-button:focus-visible {
    border-block-end-color: var(--text-color);
  }

  .theme_auto .header__theme-menu-button:hover {
    border-color: rgba(50, 49, 45, 0.40);
  }
}

@media (width >= 768px) {

  @media (prefers-color-scheme: light) {

    :root {
      --padding-wrap: 1.25rem;
      --page-blocks-gap: 3.75rem;
      --section-gap: 5rem;
      --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
  }

  :root .theme_light {
    --padding-wrap: 1.25rem;
    --page-blocks-gap: 3.75rem;
    --section-gap: 5rem;
    --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

.page.theme_light {
  background-image: var(--bg-image);
}

.theme_light .decoration-element {
  display: none;
}

.theme_light .accent-text {
  color: var(--text-color);
}

.theme_light .header__theme-menu-button {
  color: var(--text-color)
}

.theme_light .decorated-zone::before,
.theme_light .decorated-zone::after,
.theme_light .header__theme-menu-button_active {
  border-color: var(--text-color);
}

.theme_light .header__theme-menu-button:hover {
  border-color: rgba(50, 49, 45, 0.40);
}


.theme_light .header__theme-menu-button:focus-visible {
  border-block-end-color: var(--text-color);
}